/******************************************************************
Stylesheet: 600px以上のタブレットやモニタで適用
******************************************************************/

.font-lr {
    font-size: 52px;
}

.font-lg {
    font-size: 82px !important;
}

.font-sm {
    font-size: 21px !important;
}

.button {
    font-size: 16px;
}

/******************************************************************
title
******************************************************************/
#title {
    height: auto;
}

.bigImage {
    width: 550px;
}

.back_str {
    font-size: 96px;
}

.section_title {
    & span {
        font-size: 19px;
    }
}

/******************************************************************
news
******************************************************************/

.news_box {
    max-width: 500px;
}

/******************************************************************
news
******************************************************************/

.faq_box {
    width: 600px;
}

/******************************************************************
contente.php
******************************************************************/

.entry-content {
    font-size: 18px;
}